@model GovernmentTaxPrj.Models.TaxPayer

@{
    ViewData["Title"] = "Delete";
}
<section class="content-header">
    <h1>အခွန်ဆောင်ခြင်းကိုပယ်ဖျက်ပါ</h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <div class="box-title">
                <h3>အခွန်ဆောင်ခြင်းကိုပယ်ဖျက်ခြင်း</h3>
            </div>
        </div>
        <div class="box-body">
        <h3>ယခုအခွန်ဆောင်ထားသူကိုပယ်ဖျက်ရန်သေချာပါသလား?</h3>
        <div>            
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TinNumber)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TinNumber)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Address)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Address)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nrc)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nrc)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TaxType)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TaxType)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Township)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Township.Id)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a class="btn btn-primary pull-right" asp-action="Index">Back to List</a>
            </form>
        </div>
        </div>
    </div>
</section>