@model GovernmentTaxPrj.Models.TaxPayer

@{
    ViewData["Title"] = "Details";
}
<section class="content-header">
    <h1>အခွန်ဆောင်ထားသူရဲ.အသေးစိတ်အချက်အလက်ကိုကြည်.ပါ</h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">အခွန်ဆောင်ထားသူရဲ.အသေးစိတ်အချက်အလက်</h3>
        </div> 
        <div class="box-body">
            <div>                
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TinNumber)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TinNumber)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Nrc)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Nrc)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TaxType)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TaxType)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Township)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Township.Name)
                    </dd>
                </dl>
            </div>
            <div class="row">
                <div>
                <h3>အခွန်ဆောင်ထားသောစာရင်း</h3>
                    <table class="table-bordered" style="width:350px; height:auto;border-width:thick;">
                        <thead class="thead-dark">
                            <tr>
                                <th>No</th>
                                <th>TaxPayer Name</th>
                                <th>Income Type</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>@Model.Name</td>
                                <td>@Model.TaxType</td>
                                <td>120000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>&nbsp;&nbsp;
                <div>
                    <h3>အသုံးပြုထားသောစာရင်း</h3>
                    <table class="table-bordered" style="width:350px; height:auto;border-width:thick">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>UsedCar</th>
                                <th>TaxAmount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2Yrs</td>
                                <td>12000</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <a class="btn btn-secondary pull-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a class="btn btn-primary pull-right" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</section>