@model GovernmentTaxPrj.Models.TaxAccount

@{
    ViewData["Title"] = "Details";
}
<section class="content-header">
    <h1>အခွန်အကောင့်အသေးစိတ်ကိုကြည်.ပါ</h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">အခွန်အကောင့်အသေးစိတ်</h3>>
</div>
        <div class="box-body">

            <div>
                <h4>အခွန်အကောင့်</h4>
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Amount)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Amount)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.OpenDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.OpenDate)
                    </dd>
                </dl>
            </div>
            <div>
                <a class="btn btn-secondary pull-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a class="btn btn-primary pull-right" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</section>