@model GovernmentTaxPrj.Models.TaxTransaction

@{
    ViewData["Title"] = "Details";
}
<section class="content-header">
    <h1>အခွန်လုပ်ငန်းစဥ်ရဲ.အသေးစိတ်ကိုကြည်.ပါ</h1>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">အခွန်လုပ်ငန်းစဥ်ရဲ.အသေးစိတ်</h3>
        </div>
        <div class="box-body">
           <div>
                
                <hr />
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.IncomeType)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.IncomeType.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TotalIncome)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TotalIncome)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.TaxAmount)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.TaxAmount)
                    </dd>
                </dl>
            </div>
            <div>
                <a class="btn btn-secondary pull-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a class="btn btn-primary pull-right" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</section>