@model IEnumerable<GovernmentTaxPrj.Models.TaxTransaction>

@{
    ViewData["Title"] = "Index";
}
<section class="content-header">
    <h2>အခွန်လုပ်ငန်းစဥ်တည်ဆောက်ထားသောစာရင်းကိုကြည်.ပါ</h2>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">အခွန်လုပ်ငန်းစဥ်တည်ဆောက်ထားသောစာရင်း</h3>
        </div>
        <div class="box-body">


            <p>
                <a class="btn btn-success" asp-action="Create">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IncomeType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TotalIncome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.TaxAmount)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IncomeType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TotalIncome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TaxAmount)
                            </td>
                            <td>
                                <a class="btn btn-secondary pull-right" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a class="btn btn-info pull-right" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a class="btn btn-danger pull-right" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>